/*
#f70071
#ff1b82
#ff5aa4
#ff96c5
#ffc0dc
*/

:root {
    --color-1: #f70071;
    --color-2: #ff1b82;
    --color-3: #ff5aa4;
    --color-4: #ff96c5;
    --color-5: #ffc0dc;
}

@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Angeline_Vintage";
    src: url(../fonts/Angeline_Vintage.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Italic";
    src: url(../fonts/Roboto-Italic.ttf);
}


/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #1f2020;
    font-family: sans-serif;
    color: #ffffff;
    font-size: 20px;
    *height: 100%;
}

.top-nav-bar {
    height: 100px;
    left: -20px;
    width: 100%;
    top: 0;
    position: sticky;
    background: var(--color-1);
    margin-bottom: 20px;
    border-bottom: 3px solid var(--color-1);
    z-index: 2;
}

.top-nav-bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: #FEFEFE;
    border-bottom: 2px solid rgba(0, 0, 0, 0.8);
    opacity: 0.2;
}

.top-nav-bar img {
    height: 100px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 25px;
    z-index: -1;
}


/*
.top-nav-bar:after {
    content: "";
    width: 20px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 0;
    background-color: #ff1b82;
    box-shadow: 0 5px #ff1b82, 20px 0 #ff1b82, 40px 5px #ff1b82, 60px 0 #ff1b82, 80px 5px #ff1b82, 100px 0 #ff1b82, 120px 5px #ff1b82, 140px 0 #ff1b82, 160px 5px #ff1b82, 180px 0 #ff1b82, 200px 5px #ff1b82, 220px 0 #ff1b82, 240px 5px #ff1b82, 260px 0 #ff1b82, 280px 5px #ff1b82, 300px 0 #ff1b82, 320px 5px #ff1b82, 340px 0 #ff1b82, 360px 5px #ff1b82, 380px 0 #ff1b82, 400px 5px #ff1b82, 420px 0 #ff1b82, 440px 5px #ff1b82, 460px 0 #ff1b82, 480px 5px #ff1b82, 500px 0 #ff1b82, 520px 5px #ff1b82, 540px 0 #ff1b82, 560px 5px #ff1b82, 580px 0 #ff1b82, 600px 5px #ff1b82, 620px 0 #ff1b82, 640px 5px #ff1b82, 660px 0 #ff1b82, 680px 5px #ff1b82, 700px 0 #ff1b82, 720px 5px #ff1b82, 740px 0 #ff1b82, 760px 5px #ff1b82, 780px 0 #ff1b82, 800px 5px #ff1b82, 820px 0 #ff1b82, 840px 5px #ff1b82, 860px 0 #ff1b82, 880px 5px #ff1b82, 900px 0 #ff1b82, 920px 5px #ff1b82, 940px 0 #ff1b82, 960px 5px #ff1b82, 980px 0 #ff1b82, 1000px 5px #ff1b82, 1020px 0 #ff1b82, 1040px 5px #ff1b82, 1060px 0 #ff1b82, 1080px 5px #ff1b82, 1100px 0 #ff1b82, 1120px 5px #ff1b82, 1140px 0 #ff1b82, 1160px 5px #ff1b82, 1180px 0 #ff1b82, 1200px 5px #ff1b82, 1220px 0 #ff1b82, 1240px 5px #ff1b82, 1260px 0 #ff1b82, 1280px 5px #ff1b82, 1300px 0 #ff1b82, 1320px 5px #ff1b82, 1340px 0 #ff1b82, 1360px 5px #ff1b82, 1380px 0 #ff1b82, 1400px 5px #ff1b82, 1420px 0 #ff1b82, 1440px 5px #ff1b82, 1460px 0 #ff1b82, 1480px 5px #ff1b82, 1500px 0 #ff1b82;
}*/

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    margin-bottom: 3px;
    border: 1px solid #ff1b82 !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text {
    background: #ff1b82 !important;
    border: 1px solid #ff1b82 !important;
    margin: 8.5px 10px 3px 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.logo img {
    position: sticky;
    width: 450px;
    height: 150px;
    z-index: 3;
    padding: 25px;
}

h2.logo {
    font-size: 46px;
    width: 450px;
    font-family: "Angeline_Vintage";
    color: #ffffff;
    text-align: center;
}

.space {
    height: 100px;
}

.fa-search {
    color: #ffffff;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-right: 1px solid #ffffff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: #ff1b82;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}


/*-------------------Side-Menu------------------*/

.side-menu {
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background: #1b1b1b;
}

.side-menu ul {
    margin-left: 10px;
}

.side-menu ul li {
    list-style: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li:hover {
    color: #ff1b82;
}

.side-menu ul li ul {
    display: none;
    z-index: 10;
    top: 78px;
}

.side-menu ul li:hover ul {
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #1b1b1b;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.fa-angle-right {
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}

#menu-btn,
#close-btn {
    font-size: 40px;
    margin: 10px;
    color: #ff1b82;
    display: none;
}


/*-----------------Slider CSS---------------------*/

.slider {
    *width: 85%;
    *margin-left: 15%;
    *padding: 0 10px;
}

.slider img {
    *padding: 10px 150px 10px 150px;
    height: 559px;
    transition: 1s;
    cursor: pointer;
}

.carousel {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.carousel-indicators {
    z-index: 10 !important;
}


/*-----------------------feature-categories CSS---------------*/

.feature-categories {
    margin: 50px 0;
}

.feature-categories img {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer;
}

.feature-categories img:hover {
    transform: scale(1.1);
}


/*--------On Sale Products---------------*/

.title-box {
    background: #ff1b82;
    color: var(--color-5);
    width: 200px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2 {
    font-size: 24px;
}

.title-box::after {
    content: '';
    border-top: 40px solid #ff1b82;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 190px;
}


/*------------------product-top CSS--------------------*/

.product-top img {
    width: 100%;
    height: 300px;
}

.overlay-right {
    display: inline-block;
    opacity: 0;
    position: absolute;
    *top: 10%;
    margin-left: -10px;
    width: 65px;
}

.overlay-right .fa {
    cursor: pointer;
    background: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: -5%;
    transition: 0.5s;
}


/*------------------product-bottom CSS-----------------*/

.product-bottom .fa {
    color: #ff1b82;
    font-size: 10px;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 10px;
}

.new-products {
    margin: 50px 0;
}


/*--------Website features---------------*/

.website-feature {
    margin: 60px 0px;
}

.website-feature img {
    width: 20%;
}

.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}

.feature-box {
    margin-top: 20px;
}


/*-------Footer-----------*/

.footer {
    margin-top: 50px;
    background: #000;
    color: #fff;
}

.footer h1 {
    font-size: 16px;
    margin: 25px 0;
}

.footer p {
    font-size: 12px;
}

.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.footer hr {
    margin-top: 10px;
    background-color: #ccc;
}

.footer-image img {
    width: 150px;
}

.footer .row .fa {
    padding-right: 20px;
    font-size: 15px;
}


/*-----------single-product----------*/

.single-product {
    margin-top: 70px;
}

.new-arrival {
    background: green;
    width: 50px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.col-md-7 h2 {
    color: #ccc;
}

.single-product .fa {
    color: #ff1b82;
}

.single-product .price {
    color: #ff1b82;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.single-product .btn-primary {
    background: #ff1b82 !important;
    font-size: 15px;
    color: #ffffff;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}

.product-description h6 {
    margin-top: 50px;
    color: #ff1b82;
}

.product-description p {
    margin-top: 30px;
}

.product-description hr {
    margin-bottom: 55px;
}


/*---------Contact------*/

#contact-container {
    width: 1200px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: flex;
    *background: white;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

#contact-container .contact-info {
    background: #232323;
    color: #ff1b82;
    border-radius: 15px;
    flex: 0 1 35%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}

.contact-info h4 {
    font-size: 2rem;
    font-weight: 500;
    margin-top: 0;
}


/* Reseravation*/

.reservation {
    *background-color: #000;
    width: 1200px;
    height: 450px;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
    display: none;
    *background: rgb(121, 120, 120);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    position: absolute;
}

.reservation input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
}

.reservation .btn-primary {
    background: #ff1b82 !important;
    font-size: 15px;
    color: #ffffff;
    margin-left: 20px;
    border: none;
    box-shadow: none !important;
}


/*--------Media--------*/

@media only screen and (max-width: 980px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
        left: 0px;
        *width: 100%;
    }
    .top-nav-bar:before {
        *display: none;
    }
    .top-nav-bar::after {
        *display: none;
    }
    .search-box {
        width: 100%;
    }
    .menu-bar {
        *width: 100%;
    }
    .menu-bar ul {
        *margin: 10px 0;
        *width: 100%;
    }
    .menu-bar ul li {
        *height: 67px;
        *width: 100%;
    }
    .menu-bar ul li a {
        font-size: 12px;
    }
    .side-menu {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        *color: #f1f3f4;
        display: none;
    }
    .side-menu ul li ul {
        top: 133px;
    }
    .side-menu ul li:hover ul {
        margin-left: 31%;
    }
    #menu-btn {
        display: block;
    }
    .slider {
        width: 100%;
        margin-left: 0;
    }
}